@import url('colors.css');

.line_divider {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 10px;
}

.loggedin_nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

    .header_title {
        text-align: center;
        flex-basis: 300px;
    }

.loggedout_nav {
    position: sticky;
    top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

    .nav_title {
        font-weight: bold;
    }

    .nav_action {
        justify-content: flex-end;
    }

    .loggedout_nav a {
        padding: 10px;
    }

/* Logged In */

.user {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ml_instructions {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ml_inputbox {
    margin-left: 5px;
    margin-right: 10px;
}

.ml_option {
    background-color: var(--background);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.ml_output {
    background-color: var(--background-shade);
    list-style: none;
    display: table;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;
    
}


/* Logged Out */

.container {
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

    .container ol {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container ol li {
        background-color: var(--background-shade);
        margin-top: 50px;
        padding: 50px 20px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }

.content_container {
    position: relative;
    top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

.heading {
    font-size:50px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}

.sub_heading {
    font-size:25px;
}

.process {
    margin-left: auto;
    margin-right: auto;
    margin-top: 275px;
    margin-bottom: 75px;
    border-radius: 15px;
}

    .process_header {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .process_text {
        font-size: 20px;
    }

.get_started {
    width: 30%;
}

.already_account_text {
    margin-top: 15px;
    margin-bottom: 5px;
}