:root {
    --background: #f5e6db;
    --background-shade: #c0afa2;
    --accent: #79ef7f;
    --accent-light: #9cf8a1;
    --accent-red: #ef7979;
    --accent-red-light: #f89c9c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 
    'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background);
}

/* Set universal formatting */
* {
    margin: 0;
    padding: 0;
    line-height: 1;    
}

button {
    text-align: center;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 0;
    background-color: var(--accent);
}

    button:hover {
        background-color: var(--accent-light);
        cursor: pointer;
    }


a {
    color: blue;
}

    a:hover {
        color: rgb(132, 0, 255);
    }
